@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";
@import "react-toastify/dist/ReactToastify.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --toastify-text-color-light: rgb(0.113 0.125 0.14);
}

* {
  border-color: var(--gray-a6);
}

@layer components {
  /**
  * Navbar styles
  */
  .navbar {
    @apply shadow-3 w-full p-4 flex items-center border-b;
    height: 4rem;
  }
  .navbar[data-breakpoint="xs"] .mt-navMenu {
    @apply hidden xs:flex;
  }
  .navbar[data-breakpoint="sm"] .mt-navMenu {
    @apply hidden sm:flex;
  }
  .navbar[data-breakpoint="md"] .mt-navMenu {
    @apply hidden md:flex;
  }
  .navbar[data-breakpoint="lg"] .mt-navMenu {
    @apply hidden lg:flex;
  }
  .navbar[data-breakpoint="xl"] .mt-navMenu {
    @apply hidden xl:flex;
  }

  .navbar[data-breakpoint="xs"] .mt-mobileNavMenu {
    @apply xs:hidden;
  }
  .navbar[data-breakpoint="sm"] .mt-mobileNavMenu {
    @apply sm:hidden;
  }
  .navbar[data-breakpoint="md"] .mt-mobileNavMenu {
    @apply md:hidden;
  }
  .navbar[data-breakpoint="lg"] .mt-mobileNavMenu {
    @apply lg:hidden;
  }
  .navbar[data-breakpoint="xl"] .mt-mobileNavMenu {
    @apply xl:hidden;
  }

  /**
  * Card styles
  */
  .card {
    @apply rounded-4 shadow-3 p-4 bg-gray-surface;
  }

  .card-title {
    @apply text-lg font-semibold;
  }

  /**
  * Button styles
  */

  .button {
    cursor: pointer;
  }

  /**
  * Typography styles
  */
  .page-title {
    @apply text-4xl font-semibold;
  }

  .section-title {
    @apply text-3xl font-semibold;
  }

  .caption {
    @apply text-sm text-gray-11;
  }

  .link {
    @apply text-accent-11;
  }

  /**
 * Scrollbar styles
 */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
