@import 'react-toastify/dist/ReactToastify.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-text-color-light: rgb(var(--color-neutral-800));
  --color-error: rgb(var(--color-error-500));
  --color-success: rgb(var(--color-success-500));
}

* {
  border-color: rgb(var(--color-neutral-300));
}

@layer components {
  /**
  * Global styles
  */
  .overlay {
    @apply fixed inset-0 bg-neutral-800/50;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  /**
  * Navbar styles
  */
  .navbar {
    @apply shadow-2 w-full p-4 flex items-center border-b rounded-lg;
    @apply min-h-[4rem];
  }
  .navbar[data-breakpoint='xs'] .mt-navMenu {
    @apply hidden xs:flex;
  }
  .navbar[data-breakpoint='sm'] .mt-navMenu {
    @apply hidden sm:flex;
  }
  .navbar[data-breakpoint='md'] .mt-navMenu {
    @apply hidden md:flex;
  }
  .navbar[data-breakpoint='lg'] .mt-navMenu {
    @apply hidden lg:flex;
  }
  .navbar[data-breakpoint='xl'] .mt-navMenu {
    @apply hidden xl:flex;
  }

  .navbar[data-breakpoint='xs'] .mt-mobileNavMenu {
    @apply xs:hidden;
  }
  .navbar[data-breakpoint='sm'] .mt-mobileNavMenu {
    @apply sm:hidden;
  }
  .navbar[data-breakpoint='md'] .mt-mobileNavMenu {
    @apply md:hidden;
  }
  .navbar[data-breakpoint='lg'] .mt-mobileNavMenu {
    @apply lg:hidden;
  }
  .navbar[data-breakpoint='xl'] .mt-mobileNavMenu {
    @apply xl:hidden;
  }
  /**
  * Dialog styles
  */
  .dialog-content {
    @apply rounded-lg bg-neutral-50 p-4 fixed focus:outline-none top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[90vw] max-w-[600px] shadow-2;
    animation: dialogContentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes dialogContentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  /**
  * Card styles
  */
  .card {
    @apply rounded-lg shadow-2 p-4 bg-neutral-50;
  }

  .card-title {
    @apply text-lg font-semibold;
  }

  /**
  * Button styles
  */

  .button {
    cursor: pointer;
  }

  /**
  * Typography styles
  */
  .display {
    @apply text-4xl font-bold;
  }

  .header {
    @apply text-2xl font-bold;
  }

  .title {
    @apply text-lg font-medium;
  }

  .text {
    @apply text-base;
  }

  .caption {
    @apply text-sm text-neutral-500;
  }

  .link {
    @apply text-primary-600;
  }

  .form-label {
    @apply text-sm font-medium;
  }

  /**
  * Scrollbar styles
  */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  /**
  * Avatar styles
  */
  .avatar {
    @apply rounded-full w-7 h-7 ml-4 flex items-center justify-center;
  }

  /**
  * Dropdown styles
  */
  .dropdown-menu-content {
    @apply shadow-3 rounded-md overflow-hidden p-3 mt-1 bg-neutral-50;
  }
  .dropdown-menu-trigger {
    @apply outline-none;
  }
  .dropdown-menu-item {
    @apply py-2 px-3 divide-y outline-none cursor-pointer rounded-md flex items-center gap-2;
    @apply hover:bg-primary-600 hover:text-neutral-50;
  }
  .dropdown-menu-separator {
    @apply h-[1px] bg-neutral-300 my-3;
  }
  /**
  * Admin Layout styles
  */
  .admin-layout {
    @apply grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'sidebar navbar' 'sidebar content';
  }
  /**
  * Admin Navbar styles
  */
  .admin-navbar {
    @apply border-b h-9 flex items-center;
    grid-area: navbar;
  }
  /**
  * Admin Content styles
  */
  .admin-content {
    @apply p-4 bg-neutral-50;
    grid-area: content;
  }
  /**
  * Sidebar styles
  */
  .sidebar {
    @apply w-[350px] h-screen border-r px-3;
    grid-area: sidebar;
  }
  .sidebar-header {
    @apply flex items-center gap-3 font-bold text-3xl py-3;
  }
  .sidebar-header img {
    @apply w-9 rounded-full;
  }
  .sidebar-menu {
  }
  .sidebar-menu-group {
  }
  .sidebar-menu-group + .sidebar-menu-group {
    @apply mt-3;
  }
  .sidebar-menu-group-title {
    @apply text-sm font-semibold uppercase text-neutral-500 mb-3;
  }
  .sidebar-menu-item {
    @apply p-3 rounded-md cursor-pointer font-medium flex items-center gap-3;
    @apply hover:bg-primary-600 hover:text-neutral-50;
  }
  .sidebar-menu-item[data-selected='true'] {
    @apply bg-primary-600 text-neutral-50;
  }
  .sidebar-menu-item + .sidebar-menu-item {
    @apply mt-1;
  }
  /**
  * Search styles
  */
  .search-dialog {
    @apply w-screen h-svh md:h-[50vh] overflow-hidden;
  }
  .search-result-input {
    @apply outline-1 outline outline-neutral-300 focus:outline-2 focus:outline-primary-600 rounded-md p-2 w-full;
    @apply mb-2;
  }
  /**
  * Drawer styles
  */
  .drawer {
    @apply bg-neutral-50 flex flex-col w-[var(--mt-w-drawer)] fixed outline-none p-4;
  }
  .drawer[data-vaul-drawer-direction='right'] {
    @apply right-0 top-0 h-screen;
  }
  .drawer[data-vaul-drawer-direction='left'] {
    @apply left-0 top-0 h-screen;
  }
  .drawer[data-vaul-drawer-direction='bottom'] {
    @apply bottom-0 left-0 w-screen;
  }

  /**
  * List styles
  */
  .list-item-row {
    @apply p-3 rounded-md cursor-pointer font-medium flex items-center gap-2;
    @apply hover:bg-neutral-200;
  }
  .list-item-row[data-selected='true'] {
    @apply bg-primary-600 text-neutral-50;
  }
  .list-item-row + .list-item-row {
    @apply mt-1;
  }
  .list-group + .list-group {
    @apply mt-6;
  }
  .list-group-title {
    @apply text-sm font-semibold uppercase text-neutral-500 mb-3 ml-3;
  }
}
